exercise/sfaccountsync/src/main/app/sfaccountsync.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <db:template-query name="billingaccount_insert" doc:name="Template Query">
        <db:parameterized-query file="billingaccount_insert.sql"/>
                            <db:in-param name="id" type="VARCHAR" defaultValue="#[payload.id]"/>
                            <db:in-param name="name" type="VARCHAR" defaultValue="#[payload.name]"/>
                            <db:in-param name="city" type="VARCHAR" defaultValue="#[payload.city]"/>
                            <db:in-param name="street" type="VARCHAR" defaultValue="#[payload.street]"/>
                            <db:in-param name="postalCode" type="VARCHAR" defaultValue="#[payload.postalCode]"/>
                            <db:in-param name="phone" type="VARCHAR" defaultValue="#[payload.phone]"/>
                            <db:in-param name="state" type="VARCHAR" defaultValue="#[payload.state]"/>
                            <db:in-param name="lastSyncedTime" type="TIMESTAMP" defaultValue="#[payload.lastSyncedTime]"/>
						    <db:in-param name="country" type="VARCHAR" defaultValue="#[payload.country]"/>
    </db:template-query>
    <db:template-query name="billingaccount_update" doc:name="Template Query">
        <db:parameterized-query file="billingaccount_update.sql"/>
        <db:in-param name="lastModifiedTime" type="TIMESTAMP" defaultValue="#[new Date()]"/>
        <db:in-param name="id" type="VARCHAR" defaultValue="#[payload.id]"/>
        <db:in-param name="name" type="VARCHAR" defaultValue="#[payload.name]"/>
        <db:in-param name="city" type="VARCHAR" defaultValue="#[payload.city]"/>
        <db:in-param name="street" type="VARCHAR" defaultValue="#[payload.street]"/>
        <db:in-param name="postalCode" type="VARCHAR" defaultValue="#[payload.postalCode]"/>
        <db:in-param name="phone" type="VARCHAR" defaultValue="#[payload.phone]"/>
        <db:in-param name="state" type="VARCHAR" defaultValue="#[payload.state]"/>
        <db:in-param name="lastSyncedTime" type="TIMESTAMP" defaultValue="#[payload.lastSyncedTime]"/>
        <db:in-param name="country" type="VARCHAR" defaultValue="#[payload.country]"/>
        
    </db:template-query>
    <sub-flow name="processSingleRecord">
        <dw:transform-message doc:name="Transform Message" metadata:id="62dbac29-6954-44c6-a050-b845af80685d">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	id: payload.Id,
	name: payload.Name,
	city: payload.BillingCity,
	street: payload.BillingStreet,
	state: payload.BillingState,
	phone: payload.Phone,
	postalCode: payload.BillingPostalCode,
	country: payload.BillingCountry,
	lastSyncedTime: payload.LastModifiedDate
} as :object {
	class : "com.sfaccountsync.BillingAccount"
}]]></dw:set-payload>
        </dw:transform-message>
        <enricher source="#[payload.size()&gt;0]" target="#[flowVars.exists]" doc:name="Message Enricher">
            <db:select config-ref="MySQL_Configuration" maxRows="10" fetchSize="10" doc:name="checkExist">
                <db:parameterized-query><![CDATA[select id from billingaccount where id = #[payload.id]]]></db:parameterized-query>
            </db:select>
        </enricher>
        <choice doc:name="Choice">
            <when expression="#[!flowVars.exists]">
                <db:insert config-ref="MySQL_Configuration" doc:name="insert">
                    <db:template-query-ref name="billingaccount_insert"/>
                </db:insert>
                <expression-component doc:name="collect stats"><![CDATA[if (flowVars.stats != null){
	flowVars.stats.createdCount = flowVars.stats.createdCount+1;
}]]></expression-component>
            </when>
            <otherwise>
                <db:update config-ref="MySQL_Configuration" doc:name="update">
                    <db:template-query-ref name="billingaccount_update"/>
                </db:update>
                <expression-component doc:name="collect stats"><![CDATA[if (flowVars.stats != null){
	flowVars.stats.updatedCount = flowVars.stats.updatedCount+1;
}]]></expression-component>
            </otherwise>
        </choice>
    </sub-flow>
    <batch:job name="syncSalesforceBatch">
        <batch:process-records>
            <batch:step name="Batch_Step" accept-expression="#[payload.size()&gt;0]">
                <flow-ref name="processSingleRecord" doc:name="processSingleRecord"/>
            </batch:step>
        </batch:process-records>
        <batch:on-complete>
            <logger message="#[payload.loadedRecords] Loaded Records #[payload.failedRecords] Failed Records" level="INFO" doc:name="Useless Logger"/>
        </batch:on-complete>
    </batch:job>
    <flow name="sfaccountsyncBatchFlow" initialState="stopped" processingStrategy="synchronous">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="10" timeUnit="SECONDS"/>
            <watermark variable="lastModifiedDate" default-expression="#[new Date(0)]" selector="MAX" selector-expression="#[payload.LastModifiedDate]"/>
            <sfdc:query config-ref="Salesforce__Basic_Authentication" query="dsql:SELECT Id,Name,Phone,BillingCity,BillingCountry,BillingPostalCode,BillingState,BillingStreet,LastModifiedDate FROM Account WHERE LastModifiedDate &gt; #[flowVars.lastModifiedDate]" doc:name="Salesforce Query"/>
        </poll>
        <logger message="Loaded record #: #[payload.size()]" level="INFO" doc:name="Logger"/>
        <batch:execute name="syncSalesforceBatch" doc:name="Batch Execute"/>
    </flow>
    <flow name="sfaccountsyncForEachFlow" processingStrategy="synchronous">
            <poll doc:name="Poll">
                <fixed-frequency-scheduler frequency="10" timeUnit="SECONDS"/>
                <watermark variable="lastModifiedDate" default-expression="#[new Date(0)]" selector="MAX" selector-expression="#[payload.LastModifiedDate]"/>
                <sfdc:query config-ref="Salesforce__Basic_Authentication" query="dsql:SELECT Id,Name,Phone,BillingCity,BillingCountry,BillingPostalCode,BillingState,BillingStreet,LastModifiedDate FROM Account WHERE LastModifiedDate &gt; #[flowVars.lastModifiedDate]" doc:name="Salesforce Query"/>
            </poll>
            <logger message="Loaded record #: #[payload.size()]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="stats" value="#[{&quot;createdCount&quot;:0,&quot;updatedCount&quot;:0}]" doc:name="init stats"/>
        <choice doc:name="Choice">
            <when expression="#[payload.size()&gt;0]">
                <foreach collection="#[payload]" doc:name="For Each">
                    <flow-ref name="processSingleRecord" doc:name="processSingleRecord"/>
                </foreach>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
        <logger message="#[flowVars.stats.createdCount] created. #[flowVars.stats.updatedCount] updated." level="INFO" doc:name="Log Stats"/>
    </flow>

</mule>
