exercise/sfaccounts/src/main/app/implementation.xml
<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:spring="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security"
    xmlns:ss="http://www.springframework.org/schema/security"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/current/mule-spring-security.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <sub-flow name="jsonBodyToObject">
        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
    </sub-flow>
    <flow name="getFlow">
        <flow-ref name="setParametersSubFlow" doc:name="setParametersSubFlow"/>
        <sfdc:query config-ref="Salesforce__Basic_Authentication" query="dsql:SELECT Id,Name,Phone,BillingCity,BillingCountry,BillingPostalCode,BillingState,BillingStreet FROM Account  WHERE #[flowVars.queryCond] ORDER BY LastModifiedDate DESC" doc:name="Salesforce Query"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="postFlow">
        <json:json-to-object-transformer returnClass="java.util.Map" mimeType="application/json" doc:name="JSON to Object" metadata:id="72d5f2d3-e43d-4b96-989f-4138e0117a83"/>
        <validation:all doc:name="Validate Input">
            <validation:validations>
                <validation:is-not-empty value="#[payload.Name]" message="Name cannot be empty!" exceptionClass="java.lang.IllegalArgumentException"/>
                <validation:is-not-empty value="#[payload.BillingStreet]" message="BillingStreet cannot be empty" exceptionClass="java.lang.IllegalArgumentException"/>
            </validation:validations>
        </validation:all>
        <set-variable variableName="input" value="#[payload]" doc:name="save input body"/>
        <sfdc:query config-ref="Salesforce__Basic_Authentication" query="dsql:SELECT Name FROM Account WHERE Name = '#[payload.Name]'" doc:name="check Name Existence"/>
        <set-variable variableName="exists" value="#[payload.size() &gt; 0]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[payload.size() &gt; 0]">
                <set-payload value="{ &quot;message&quot; : &quot;Account with such name '#[flowVars.input.Name]' already exists, cannot create a new one&quot;}" doc:name="Account already exists"/>
                <set-property propertyName="http.status" value="400" doc:name="Code 400"/>
            </when>
            <otherwise>
                <set-payload value="#[flowVars.input]"  doc:name="load input"/>
                <dw:transform-message doc:name="Transform Message" metadata:id="f99f62c9-8f19-4887-97bf-196464a8fe99">
                    <dw:input-payload/>
                    <dw:input-variable mimeType="application/json" variableName="input"/>
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
[{
	Name: payload.Name,
	BillingStreet: payload.BillingStreet,
	BillingCity: payload.BillingCity,
	BillingState: payload.BillingState,
	BillingPostalCode: payload.BillingPostalCode,
	BillingCountry: payload.BillingCountry,
	Phone: payload.Phone
}]]]></dw:set-payload>
                </dw:transform-message>
                <sfdc:create config-ref="Salesforce__Basic_Authentication" type="Account" doc:name="Salesforce Create">
                    <sfdc:objects ref="#[payload]"/>
                </sfdc:create>
                <dw:transform-message doc:name="Transform Message" metadata:id="11fa61f9-cfb8-4e09-8323-1016106105be">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	message: 'Account creation success = ' ++ payload.success ++ ' id=' ++ payload.id ++ '. '
}]]></dw:set-payload>
                </dw:transform-message>
            </otherwise>
        </choice>
        <set-property propertyName="Content-Type" value="application/json" doc:name="set content type"/>
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>
    </flow>
    <flow name="getByIdFlow">
        <sfdc:retrieve config-ref="Salesforce__Basic_Authentication" type="Account" doc:name="Salesforce">
            <sfdc:ids>
				<sfdc:id>#[flowVars.ID]</sfdc:id>
            </sfdc:ids>
            <sfdc:fields>
				<sfdc:field>Id</sfdc:field>
         		<sfdc:field>Name</sfdc:field>         		
				<sfdc:field>Phone</sfdc:field>
         		<sfdc:field>BillingCity</sfdc:field>         		
				<sfdc:field>BillingCountry</sfdc:field>
         		<sfdc:field>BillingPostalCode</sfdc:field>         		
				<sfdc:field>BillingState</sfdc:field>
         		<sfdc:field>BillingStreet</sfdc:field>         		  		
            </sfdc:fields>
        </sfdc:retrieve>
        <dw:transform-message doc:name="Transform Message" metadata:id="19c38b7b-418c-44e4-908e-9c9214e8e5d0">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	BillingCountry: payload01.BillingCountry,
	BillingCity: payload01.BillingCity,
	BillingStreet: payload01.BillingStreet,
	Phone: payload01.Phone,
	BillingPostalCode: payload01.BillingPostalCode,
	BillingState: payload01.BillingState,
	Id: payload01.Id,
	Name: payload01.Name
})]]></dw:set-payload>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-property propertyName="http.status" value="404" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot; : &quot;Account with ID='#[flowVars.ID]' doesn't exist!&quot;}" doc:name="Set Payload"/>
        </catch-exception-strategy>
    </flow>
    <flow name="putByIdFlow">
        <set-payload value="{
&quot;message&quot; : &quot;Account updated successfully!&quot;
}" doc:name="Set Payload"/>
    </flow>
    <flow name="deleteByIdFlow">
        <set-payload value="{
&quot;message&quot; : &quot;Account updated successfully!&quot;
}" doc:name="Copy_of_Set Payload"/>
    </flow>
    <sub-flow name="validateAccountNameInput">
        <expression-component doc:name="setMandatoryField"><![CDATA[flowVars.mandatoryParam = 'name']]></expression-component>
        <validation:is-not-empty message="Query parameter: #[flowVars.mandatoryParam] cannot be empty" exceptionClass="sfaccounts.exception.InvalidParameterException" value="#[flowVars[flowVars.mandatoryParam]]" doc:name="mandatory field Not Empty"/>
    </sub-flow>
    <sub-flow name="setParametersSubFlow">
        <set-variable variableName="name" value="#[message.inboundProperties.'http.query.params'.name]" doc:name="setNameVar"/>
        <set-variable variableName="city" value="#[message.inboundProperties.'http.query.params'.city]" doc:name="setCityVar"/>
        <flow-ref name="validateAccountNameInput" doc:name="validateAccountNameInput Reference"/>
        <expression-component doc:name="build Query Condition"><![CDATA[flowVars.queryCond = "Name like '#[flowVars.name]%' ";
if (flowVars.city != null) {
	flowVars.queryCond += "and BillingCity = '#[flowVars.city]'"
}	]]></expression-component>
    </sub-flow>
    <flow name="testSfFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/sfaccountsTest" allowedMethods="GET" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
